@use "sass:color";
/**
 * Solarized Light theme for reveal.js.
 * Author: Achim Staebler
 */


// Default mixins and settings -----------------
@use "../template/mixins" as *;
@use "../template/settings" as *;
// ---------------------------------------------



// Include theme-specific fonts
@import url(./fonts/league-gothic/league-gothic.css);
@import url(https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic);


/**
 * Solarized colors by Ethan Schoonover
 */
html * {
	color-profile: sRGB;
	rendering-intent: auto;
}

// Solarized colors
$base03:    #002b36 !default;
$base02:    #073642 !default;
$base01:    #586e75 !default;
$base00:    #657b83 !default;
$base0:     #839496 !default;
$base1:     #93a1a1 !default;
$base2:     #eee8d5 !default;
$base3:     #fdf6e3 !default;
$yellow:    #b58900 !default;
$orange:    #cb4b16 !default;
$red:       #dc322f !default;
$magenta:   #d33682 !default;
$violet:    #6c71c4 !default;
$blue:      #268bd2 !default;
$cyan:      #2aa198 !default;
$green:     #859900 !default;

// Override theme settings (see ../template/settings.scss)
$mainColor: $base00 !default;
$headingColor: $base01 !default;
$headingTextShadow: none !default;
$backgroundColor: $base3 !default;
$linkColor: $blue !default;
$linkColorHover: color.adjust($linkColor, $lightness: 20% ) !default;
$selectionBackgroundColor: $magenta !default;

$overlayElementBgColor: 0, 0, 0 !default;
$overlayElementFgColor: 240, 240, 240 !default;

// Background generator
// @mixin bodyBackground() {
// 	@include radial-gradient( rgba($base3,1), rgba(color.adjust($base3, $lightness: 20%),1) );
// }



// Theme template ------------------------------
@use "../template/theme" as *;
// ---------------------------------------------
