@use "sass:color";
/**
 * White theme for reveal.js. This is the opposite of the 'black' theme.
 *
 * By Hakim El Hattab, http://hakim.se
 */


// Default mixins and settings -----------------
@use "../template/mixins" as *;
@use "../template/settings" as *;
// ---------------------------------------------


// Include theme-specific fonts
@import url(./fonts/source-sans-pro/source-sans-pro.css);


// Override theme settings (see ../template/settings.scss)
$backgroundColor: #fff !default !default;

$mainColor: #222 !default !default;
$headingColor: #222 !default !default;

$mainFontSize: 42px !default !default;
$mainFont: 'Source Sans Pro', Helvetica, sans-serif !default !default;
$headingFont: 'Source Sans Pro', Helvetica, sans-serif !default !default;
$headingTextShadow: none !default !default;
$headingLetterSpacing: normal !default !default;
$headingTextTransform: uppercase !default !default;
$headingFontWeight: 600 !default !default;
$linkColor: #2a76dd !default !default;
$linkColorHover: color.adjust( $linkColor, $lightness: 15% ) !default !default;
$selectionBackgroundColor: color.adjust( $linkColor, $lightness: 25% ) !default !default;

$heading1Size: 2.5em !default !default;
$heading2Size: 1.6em !default !default;
$heading3Size: 1.3em !default !default;
$heading4Size: 1.0em !default !default;

$overlayElementBgColor: 0, 0, 0 !default !default;
$overlayElementFgColor: 240, 240, 240 !default !default;

// Change text colors against dark slide backgrounds
@include dark-bg-text-color(#fff);


// Theme template ------------------------------
@use "../template/theme" as *;
// ---------------------------------------------
